# .gitignore file to ignore files and folders not to share in a repository
# **/ a pattern to indicate in any (sub)folder of the repository
# .DS_Store hidden macOS file for custom attributes
**/.DS_Store

**/node_modules

**/bin
**/target

**/.classpath
**/.project
**/.settings
**/.apt_generated
**/.metadata
